@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local("Roboto-Thin"), local("Roboto-Thin"), url("../fonts/roboto-thin.woff2") format("woff2");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local("Roboto-light"), local("Roboto-Light"), url("../fonts/roboto-light.woff2") format("woff2");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local("Roboto-regular"), local("Roboto-regular"), url("../fonts/roboto-normal.woff2") format("woff2");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local("Roboto-bold"), local("Roboto-bold"), url("../fonts/roboto-bold.woff2") format("woff2");
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local("Roboto-Black"), local("Roboto-Black"), url("../fonts/roboto-black.woff2") format("woff2");
}